/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

.eyes {
  margin-bottom: 20px;
}
.container {
  width: 100%;
  max-width: 1180px;
  margin: 0px auto;
}
.eyes__box {
  margin-top: 50px;
}
.animate2 {
  width: 220px;
  height: 110px;
  margin: 0px auto;
  overflow: hidden;
}
.first {
  width: 220px;
  height: 100%;
}
.second {
  width: 220px;
  height: 120px;
  margin: -120px 0 0 0;
  transition: 0.3s;
}
.second:hover {
  opacity: 0;
}

.grid {
}
.grid__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 2fr);
}
.grid__item {
  text-align: center;
  border: 2px dashed black;
  padding: 30px;
}
